*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

input{
	
	outline: none;  /*清除input的默认样式  点击input后边框不会显示颜色*/
}

.clearfloat{
	
	clear: both;  /*清除浮动  解决min-height的问题*/
}

.container{
	
	width:1200px;
	margin: 0 auto;
}

.container-box{
	
	width:1100px;
	margin: 0 auto;
}

.container-search{
	
	min-width: 1300px;
}


ul li{
	
	list-style: none;
}

header{
	height: 30px;
	/*width: 100%;*/
	min-width: 1300px;   /*避免浏览器缩小时右边出现空白*/
	background-color: #f8f8f8;
	border-bottom: 1px solid #e3e3e3;
	line-height: 30px;
	color: #666;
}

header .left-bar{
	
	float: left;
}

header .right-bar{
	
	float: right;
}

header .left-bar ul li{
	
	float: left;
	margin-right: 10px;
	font-size: 12px;
}

header .right-bar ul li{

	float: left;
	margin-right: 10px;
	font-size: 12px;
}

ul li a{
	
	color: #666;
	text-decoration: none;
}

ul li a:hover{
	
	color:#d88833;
	text-decoration: none;
}

header ul li.show{
	
	position: relative;
}

header ul li .showTime{
	
	position: absolute;
	width: 250px;
	height: 250px;
	left:-40px;
	top:30px;
	transition: all 0.35s;/*CSS3样式 过渡*/
	-o-transition:all 0.35s;/*欧朋*/
	-moz-transition: all 0.35s;/*火狐*/
	-ms-transition: all 0.35s;/*IE*/
	-webkit-transition: all 0.35s;/*谷歌和Safari*/
	transform: scale(0.01);
	-o-transform:scale(0.01);
	-moz-transform: scale(0.01);
	-ms-transform: scale(0.01);
	-webkit-transform: scale(0.01);
	transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	opacity: 0;
	z-index: 9999;
	pointer-events: none;
}

header ul .show:hover .showTime{
	
	transform: scale(1);
	-o-transiform:scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
	pointer-events: all;
}

header ul .showTime em{
	
	display: block;
	width: 0px;
	height: 0px;
	border: 7px solid transparent;
	border-bottom-color: #D88833;
	position: absolute;
	top:-14px;
	left: 60px;
}


header ul li .showTime .showTimeDate{
	
	width: 100%;
	height: 50px;
	background-color: #d88833;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #ffffff;
}

header ul li .showTime .showTimeDetail{
	
	width: 100%;
	height: 200px;
	background-color: #cc6e30;
}

header ul li .showTime .showTimeDetail h3{
	
	margin-top: 0px;
	text-align: center;
	font-size: 100px;
	color: #fff;
	line-height: 120px;
}

header ul li .showTime .showTimeDetail p{
	
	text-align: center;
	margin: 0px;
	color: #ffffff;
}


header ul li.showUser{
	
	position: relative;
}

header ul li .showInfo{
	
	position: absolute;
	width: 300px;
	height: 200px;
	left: -60px;
	transition: all 0.35s;/*CSS3样式 过渡*/
	-o-transition:all 0.35s;/*欧朋*/
	-moz-transition: all 0.35s;/*火狐*/
	-ms-transition: all 0.35s;/*IE*/
	-webkit-transition: all 0.35s;/*谷歌和Safari*/
	transform: translateY(30px);
	-o-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	opacity: 0;
	z-index: 9999;
	pointer-events: none;
	box-shadow: 5px 5px 20px #dfdfdf;
}	

header ul .showUser:hover .showInfo{
	
	transform: translateY(0px);
	-o-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	opacity: 1;
	pointer-events: all;
}

header ul .showInfo em{
	
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	border: 7px solid transparent;
	border-bottom-color: #D88833;
	top:-14px;
	left: 60px;
}

header ul li .showInfo .showInfoTop{
	
	width: 100%;
	height: 100px;
	background-color: #d88833;
}

header ul li .showInfo .showInfoTop img{
	
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 2px solid #ffffff;
	margin-top: 15px;
	margin-left: 25px;
}

header ul li .showInfo .showInfoTop .username{
	
	float: left;
	margin-left: 25px;
	margin-top: 25px;
}

header ul li .showInfo .showInfoTop a{
	
	font-size: 20px;
	color: #ffffff;
}

header ul li .showInfo .showInfoTop a:hover{
	
	color:#666666;
}

header ul li .showInfo .showInfoTop .userset{
	
	float: left;
	font-size: 20px;
	margin-top: 25px;
	margin-left: 80px;
}

header ul li .showInfo .showInfoTop .usertext{
	
	float: left;
	color: #ffffff;
}

header ul li .showInfo .showInfoMiddle{
	
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	border-bottom: 1px solid #e3e3e3;
}

header ul li .showInfo .showInfoMiddle .userclock{
	
	float: left;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 15px;
}

header ul li .showInfo .showInfoMiddle .userbrowser{
	
	float: left;
	margin-left: 25px;
}

header ul li .showInfo .showInfoMiddle .usercontinue{
	
	float: left;
	line-height: 60px;
	margin-left: 25px;
}

header ul li .showInfo .showInfoBottom{
	
	width: 100%;
	height: 40px;
	background-color: #ffffff;
}

header ul li .showInfo .showInfoBottom .shopname{
	float: left;
	line-height: 40px;
	margin-left: 15px;
}

header ul li .showInfo .showInfoBottom .exitbutton{
	
	float: right;
	line-height: 40px;
	margin-right: 15px;
	font-size: 20px;
}


.container-search .search{
	
	width:405px;
	height: 70px;
	margin: 40px auto;
}

.container-search .search .keysearch{
	
	float: left;	
	width: 325px;
	height: 40px;
	border: 1px solid #D88833;
	padding: 0px 10px;
}

.container-search .search .submitbutton{
	
	width: 80px;
	height: 40px;
	background-color: #D88833;
	border: none;
	color: #ffffff;
	font-size: 15px;
}

.container-search .search .searchtext ul li{
	
	float: left;
	margin-left: 10px;
	font-size: 12px;
	color: #666666;
}

.advertisement{
	
	min-width: 1300px;   /*避免浏览器缩小时右边出现空白*/
}

.advermian{
	
	float: left;	
}

.advertisement .advertop{
	
	width: 205px;
	height: 40px;
	background-color: #cc6e30;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}

.advertisement .adverlist{
	
	width: 205px;		
	min-height: 50px;
	border: 1px solid #cc6e30;
}

.advertisement .adverlist ul li.list-row{
	
	width: 100%;
	height: 40px;
	border-bottom: 1px dashed #E8E8E8;
}

.advertisement .adverlist ul li.list-row .list-col{
	
	width: 50%;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
}

#banner {
	float:left;
	margin-left:10px; 
	position:relative;
	width:800px; 
	height:450px;
	overflow:hidden;
}

#banner_list img {
	border:0px;
}

#banner ul {
	position:absolute;
	list-style-type:none;
	opacity:0.8;
	z-index:1002;
	margin:0;
	padding:0;
	bottom:3px;
	right:5px;
}

#banner ul li {
	float: left; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	line-height: 25px; 
	cursor: pointer; 
	border-radius: 12px; 
	background-color: #ffa900; 
	margin-left: 5px;
}

#banner ul li.on {
	background:#ff6600;

}

.product{
	
	/*width: 100%;*/   
	min-width: 1300px;   /*避免浏览器缩小时右边出现空白*/
	min-height: 400px;
	margin-top: 40px;
	background-color: #e3e3e3;
	padding-bottom: 50px;
}

.product h3{
	
	text-align: center;
}

.product .productlist{
	
	float: left;
	width: 505px;
	height: 250px;
	background-color: #ffffff;
	margin-left: 25px;
	margin-top: 30px;
	overflow: hidden;   /*清除超出盒子的部分*/
}

.product .productlist img{
	
	float: left;
	width: 225px;
	height: 125px;
	margin-left: 20px;
	margin-top: 20px;
	transition: all 0.35s;
}

.product .productlist img:hover{
	
	transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.product .productlist .list-introduce{
	
	float: left;
	width: 230px;
	height: 100%;
	margin-left: 30px;
}

.product .productlist .list-introduce .listname{
	
	width: 100%;
	height: 50px;
	border-bottom: 1px dashed #e3e3e3;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
}

.product .productlist .list-introduce .list-reason h4.list-price{
	
	color: #ff5a48;
}

.product .productlist .list-introduce .list-reason p{
	
	text-indent: 25px;
	color: #c2a5b2;
}
footer{
	
	/*width:100%;*/
	min-width: 1300px;   /*避免浏览器缩小时右边出现空白*/
	height: 30px;
	text-align: center;
	border-top: 1px solid #e3e3e3;
	margin-top: 50px;
}

